body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container .informasi {
    width: 60%;
    background: linear-gradient(to bottom, #4E56C0, #9B5DE0, #D78FEE);
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-top: 200px;
    color: white;
}

.container .informasi h1{
    width: auto;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    word-spacing: 10px;
    margin: 0;
}

.container .informasi p{
    margin: 0;
    margin-top: 30px;
    width: 75%;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.8;
}

.container .loginpage {
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 5px double rgba(0, 0, 255, .6);
}

.container .loginpage h1{
    color: blueviolet;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
}

.container .loginpage form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    margin-top: 30px;
}

.container .loginpage form .input{
    background-color: rgba(138, 43, 226, 0.7);
    border-radius: 60px;
    width: auto;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .loginpage form .input:hover{
    outline: 3px solid rgba(0, 0, 255, .6);
    outline-offset: 5px;
    box-shadow: none;
}

.container .loginpage form .input img{
    width: 20px;
    padding-right: 10px;
}

.container .loginpage form .input input{
    all: unset;
    width: 350px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600px;
}

.container .loginpage a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(138, 43, 226, .6);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.container .loginpage a:hover{
    color: blue;
    transition: all 0.3s ease;
}

.container .loginpage button{
    all: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, pink, blueviolet);
    padding: 12px 70px;
    color: white;
    border-radius: 25px;
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 10px;
}

.container .loginpage button:hover{
    outline: blueviolet solid 3px;
    outline-offset: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.2s ease;
}


/*========================== Media Screen 760 px =============================*/

 @media only screen and (max-width: 760px) {
    .container .informasi{
        display: none;
    } 

    .container .loginpage{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-left: none;
    }

    .container .loginpage h1{
        font-size: 2.3rem;
    }

    .container .loginpage form{
        align-items: center;
    }

    .container .loginpage form .input{
        padding: 10px 15px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .7);
        max-width: 75%;
    }

    .container .loginpage form .input:active{
        outline: 3px solid rgba(0, 0, 255, .6);
        outline-offset: 5px;
        box-shadow: none;
    }

    .container .loginpage a{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .container .loginpage a:active{
        color: blue;
    }

    .container .loginpage button{
        padding: 10px 50px;
        font-size: 1.1rem;
        margin-top: 0;
    }

    .container .loginpage button:active{
        outline-offset: 3px;
        font-size: 1.2rem;
    }

}